.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.show-offer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-btn{
  height: 60px;
  width: 150px;
  border: none;
  outline: none;
  background-color: purple;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal{
  background: radial-gradient(white, rgba(0,0,0,0.5) 50%);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: grid;
  place-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
